.order-content {
  text-align: center;
  min-height: calc(100vh - 170px);
}

.order-content h1 {
  color: var(--success);
  font-size: 2rem;
  margin-bottom: 10px;
}

.order-details {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  max-width: 500px;
}
