.premiers-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.not-premiers {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 2rem;
    min-height: 400px;
}