.checkout-container {
    padding: 20px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.checkout-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-full {
    grid-column: span 2;
}