@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary: #0e172c;
    --secondary: #a786df;
    --tertiary: #f6f6eb;
    --text: #000;
    --success: #28a745;
    --error: #d9534f;
    --warning: #ffe79f;
    --device-width-mobile: 360px;
    --device-width-desktop: 1080px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text);
    background-color: var(--tertiary);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.tag {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    background-color: #eadefd;
    border-radius: 0.8rem;
}

.note {
    padding: 0.5rem;
    background-color: var(--warning);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
}

.error-message {
    color: var(--error);
    font-size: 12px;
    margin-top: 5px;
}

.success-message {
    text-align: center;
    color: var(--success);
    font-size: 18px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.85rem;
}

input:focus,
select:focus {
    border-color: var(--secondary);
    outline: none;
    box-shadow: 0 0 5px #a786df7a;
}

button {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    background-color: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    opacity: 0.8;
}

.loading-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #e0e0e0;
    }
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 4px; 
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; 
}

.scroll-custom::-webkit-scrollbar-track {
    background-color: #f9f9f9; 
    border-radius: 4px;
}