.logo {
    font-size: 1.5rem;
    color: var(--secondary);
}

header {
    background-color: var(--primary);
    text-align: center;
    color: var(--tertiary);
}

header .header-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 80px;
}

header .header-container,
main .main-container,
footer .footer-container {
    max-width: var(--device-width-desktop);
    min-width: var(--device-width-mobile);
    width: 100%;
    margin: auto;
    padding: 1rem;
}

footer {
    background-color: var(--primary);
    text-align: center;
    color: white;
}